@import "../../animations";
@import "../../mixins";

.users_slider {
    @include full_size(true);
}

.blogs_slider {
    @include full_size();
    padding: 6.5rem 0;
    animation: fadeIn 0.2s ease-out;
}

.blogs_slider__blog_slide {
    display: flex;
    justify-content: center;
    overflow: visible !important;
}

.blog_slide__post-wrapper {
    display: flex;
    background-color: var(--modal-background);
    width: calc(200% - 2.5rem);
    position: absolute;
    border-radius: 2rem;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    align-items: center;
    flex-direction: column;

    .post-wrapper__post-image {
        @include full_size(true);
        position: absolute;
        top: 0;
        display: block;
    }
}
