@import "../../../../mixins";

.header_button_home--active {
    @include button-link;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.header_button_home--inactive {
    @include button-link;
    background-color: var(--button-bg-inactive);
    color: var(--text-color);
}

.header_home_switcher {
    padding: 0.25rem;
    position: relative;
    display: flex;
    width: 100%;
    height: 3.5rem;
    border-radius: 999rem;
    background-color: var(--button-bg-inactive);

    .header_home_switcher__indicator {
        position: absolute;
        width: calc(50% - 0.25rem);
        height: calc(100% - 0.5rem);
        border-radius: 999rem;
        background-color: var(--button-bg-inactive);
    }

    .header_home_switcher__tab--active {
        @include switcher__tab;
        color: var(--text-color);
    }

    .header_home_switcher__tab--inactive {
        @include switcher__tab;
        color: var(--text-primary-trans);
    }
}
