@import "../../../animations";

.header {
    width: 100vw;
    position: fixed;
    z-index: 10;
    padding: 1rem;
    animation: fade-in 0.2s ease-out;

    &--with_bg {
        @extend .header;
        background: var(--nav-bg);
        backdrop-filter: saturate(180%) blur(32px);
        -webkit-backdrop-filter: saturate(180%) blur(32px);
    }
}

.header-wrapper {
    display: flex;
    opacity: 1;
    width: 100%;
    gap: 1rem;
}
