@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixins";

:root {
	--static-green: #22c55e;
	--static-red: #ff4b41;
	--static-white: #fff;
	--static-black: #000;
	--static-blue: #0070f3;
	--static-gray-button: #262626;
	--static-gray-button-border: #474747;
	--static-semi-transparent-bg: #00000052;
	--static-gray-background: #161616;
	--text-primary-trans: #ffffff80;
	--text-primary: #404040;
	--modal-background: #161616;
	--modal-backdrop: #0000001a;
	--button-bg-inactive: #ffffff14;
	--nav-bg: #000000cc;
	--gray-button: #262626;
	--gray-button-border: #474747;
	--button-bg-nontrans: #141414;
	--bg-color: #000000;
	--text-color: #ffffff;
}

[data-theme="light"] {
	--bg-color: #ffffff;
	--text-color: #000000;
}

@font-face {
	font-family: "Geist";
	src: url("font/Geist.ttf") format("truetype");
}

body {
	@include screen_size;
	font-family: "Geist";
	background-color: var(--bg-color);
	overflow: hidden;

	main {
		@include screen_size;
		top: 0;
		position: fixed;
	}
}

::-webkit-scrollbar {
	display: none;
}
